header{
    background-color: #FDF0D5;
    width:80%;
    margin:auto;
}
header h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: dashed 2px black;

}
footer{
    background-color: #C6D8D3;
    padding:15px;
}
footer h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-row,.check-row{
    display:flex;
    gap: 10px;
    /* 2nd value controlls margin left and right */
    margin: 15px 0;
}
.rad{
    width: 15px;
    text-align:right;
}
.check-row label.radio-feild {
    display:flex;
    justify-content: flex-start;
    width: 90px;
    text-align: right;
}
.check-row label {
    width: 150px;
    text-align:right;
}
@media (max-width: 600px) {
    .check-row label {
        text-align: left;   /* overrides the desktop style */
        width: auto;        /* removes fixed label width */
    }
}
.form-row label{
    width: 150px;
    text-align:right;
}
.form-row input:not([type='submit']),.form-row select,.form-row textarea{
    background-color: #FDF0D5;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border:1px solid black;      
}
.form-row input:not([type='submit']):focus,.form-row select:focus,.form-row textarea:focus{
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid black;       
} 
.form-row input[type='submit']{
    padding: 5px 10px;
}
.spacer{
    width: 150px;
    text-align: right;
}

fieldset{
    background-color: rgb(209, 209, 246);
    width: 80%;
    margin: auto;
    margin-bottom: 50px; 
}
legend{
    border: 1px solid black;
    background-color: #5F0F40;
     
    color: white;
    padding: 20px;
}
@media ONLY screen AND (max-width:480px){
    .form-row, .check-row{
        flex-direction: column;
    }
    fieldset{
        width: 100%;
    }
    .form-row label, .spacer{
        text-align: left;
    }
    
}