body{
    font-family: Arial, Helvetica, sans-serif;
}
.schedule{
    /* border: 1px solid black;
    border-spacing:0;
    border-collapse: collapse;
    width: 80;
    margin:auto;
    caption-side: bottom; */
    border-spacing: 0;
}
.schedule thead tr{
    background-color: blue;
    color:white;
    
}
.schedule th, .schedule td{
    /* border: 5px solid black;
    padding: 5px;
    height:40px;
    vertical-align: top; */
    /* background-color: aquamarine; */
}
.schedule tfoot tr{
    background-color: blue;
    color:white;
    
    
}
.schedule tbody td{
  border-bottom: thin  solid black;
  
} 
/* this is a psudedo class */
.schedule tbody tr:nth-child(even){
   
    background-color: #888;
 }
.num{
    vertical-align: top;
}
/* .grayish{
    background-color: #888;
} */