


nav,.iten_nav{
    display:flex;
    justify-content: space-between;
    padding:30px;
    margin-bottom: 10px;
}
.iten-text{
    width:50%;
}
nav a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding:5px;
    margin:5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-style: normal;
    
      
}
.current{
    background-color: #DDE6D5;
    border-radius: 5px;
    padding: 5px 10px;
}
nav a:hover{
    text-decoration: underline;
    color: #7C8463;
}
.search {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;    
  border: 1px solid #ccc;
  width: 350px;
  

  padding:8px;
}
.search input{
    border:none;
    
}
header{
    /* background-image: url("imgs/homepage_img.jpg"); */
    background-size: cover;
    background-position: center;
    height:400px;
}
.index_head{
    position: relative;
    background-image: url("imgs/index/homepage_img.jpg"); 
}
.dublin_head{
    position: relative;
    background-image: url("imgs/dublin/dublin_header.jpg"); 
}
.kilkenny_head{
    position: relative;
    background-image: url("imgs/kilkenny/kilkenny_header.jpg"); 
}
.iconic_sites_head{
    position: relative;
    background-image: url("imgs/iconic-sites/Iconic_header.jpg"); 
}
.scenic_drive_head{
    position: relative;
    background-image: url("imgs/kerry/kerry_header.jpg");
}
.header-source {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
    color: white;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.4); /* optional for readability */
    padding: 2px 6px;
    border-radius: 4px;
}


.iten_h1{
    font-family: 'Cormorant Garamond', serif;
    color:#132845;
    padding-left: 30px; /* moves text horizontally */
    margin:30px;
    
}
.iten_head{
    background-color:#7C8463;
    height:100px;
}
/* main stuff */
header h1{
    /* color: #344966; */
    font-family: 'Cormorant Garamond', serif;
    color:#132845;
    margin: 0; /* prevents breaking the header */
    padding-top: 30px; /* moves text downward */
    padding-left: 30px; /* moves text horizontally */
}
main{
    padding:20px;
    background-color:#7C8463;
}
.source{
    font-size: 10px;
}
.map{
    float: right;          /* Image goes to the right */
    width: 300px; 
}
.monument{
    float: right;          /* Image goes to the right */
    
}
.stuff{
    display: flex;
    justify-content: center;
}
/* .stone-circle{
    margin-top: 130px;
    float: right;
} */
/* .container {
    display: flex;
    align-items: stretch;
} */
.divider {
    border-top: 2px solid black;
    margin-top:50px;
    margin-bottom:50px;
    height: 100%;
    clear: both;   
}

.learn{
    margin-top: 20px;
}
.iten_main,.form_main{
    background-image: url(imgs/fox.png);
    background-color: white;
    /* height:800px; */
    background-repeat: no-repeat;
    background-position: right top;
}
/* test code */
/* wrapper for message + image */
#content_wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* message on left, image on right */
    gap: 20px;
    width: 80%;
    max-width: 900px;
}


/* message box */

/* .no-bg {
    background-image: none !important;
} */
#sub_image{
    display:none;
    height: auto;          /* maintain aspect ratio */
    margin: 0;             /* remove any margin */
    padding: 0;            /* remove any padding */
    object-fit: cover; 
}
h2{
    font-family: 'Cormorant Garamond', serif;
    color:#132845;
    
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 18px;
    color:black;

}
.content{
    background-color: white;
    width:95%;
    margin:auto;
    padding:20px;
}
/* card code */
.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
/* figure img{
    width:300px;
} */

article{
    
    width:300px;
    border: solid 1px black;
    border-radius: 15px;
    overflow: hidden; 
    background-color: white;
    margin:10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    height:490px;
    
}
.card-source{
    position: relative;
}
article img{
    max-height: 300px;
    width:100%
}
article h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:20px;
    font-weight: 800px;;
}
article p{
    margin-left: 15px;
    margin-right: 5px;

}
.card-link {
    text-decoration: none;
    color: inherit; 
    display: block; 
}
.Itenerary{
    width:800px;
    border: 2px solid #555;
    border-style: outset;
    border-collapse: collapse;
    /* margin-top: 150px;  */
    width: 70%;
    padding: 10px;
    border-radius: 8px;
}
.Itenerary thead .title{
    padding:5px;
    background-color:#3F3F37;
    color:white;
}
.odd_day{

    background-color: rgba(200, 200, 200, 0.3);

}
.Itenerary tbody tr:nth-child(3n) {
    border-bottom: 3px solid #999;
}

    
.Itenerary thead tr{
    background-color: #D6D6B1;
    color:black;
    padding:10px;
    border-bottom:2px solid black;
}
.Itenerary thead th{
    padding:10px;
}
.Itenerary td, .Itenerary th {
    font-size: 0.95rem;
}

.Itenerary tbody td{
   border: 1px solid #ccc;
   padding:5px;
   text-align: left;
   line-height: 1.5;
}
.form_button,.home_button{
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: black;          
    display: block;
    border: 1px solid #D69F29;
    border-radius: 25px;
    padding:15px;
    width:200px;
    text-align: center;
    font-weight: bold;
    background-color: #E3C584;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.home_button{
    margin:auto;
}


/* form code */
.form-row,.check-row{
    display:flex;
    gap: 10px;
    /* 2nd value controlls margin left and right */
    margin: 15px 0;
}
.feild-label{
    font-weight: bold;
}
.rad{
    width: 15px;
    text-align:right;
}
.radio_group {
    background-color:#FDF0D5;
    padding:5px;
    border-radius: 8px;
    border:1px solid black;     
    display: flex;
    flex-direction: column;  /* stack vertically */
    gap: 8px;                /* space between each option */
    margin-left: 10px;       /* optional, indent from label */
}
.check-row label.radio-feild {
    display:flex;
    justify-content: flex-start;
    width: auto;
    text-align: right;
}
.check-row label {
    width: 150px;
    text-align:right;
}
@media (max-width: 600px) {
    .check-row label {
        text-align: left;   /* overrides the desktop style */
        width: auto;        /* removes fixed label width */
    }
}
.form-row label{
    width: 150px;
    text-align:right;
}
.form-row input:not([type='submit']),.form-row select,.form-row textarea{
    background-color: #FDF0D5;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border:1px solid black;      
}
.form-row input:not([type='submit']):focus,.form-row select:focus,.form-row textarea:focus{
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid black;       
} 
.form-row input[type='submit']{
    padding: 5px 10px;
}
.spacer{
    width: 150px;
    text-align: right;
}

fieldset{
    background-color: #7C8463;
    width: 40%;
    margin: auto;
    margin-bottom: 50px; 
}
legend{
    border: 1px solid black;
    background-color: #D7BB7E;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: black;
    padding: 20px;
}
.submit{
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: black;          
    display: block;
    border: 1px solid #D69F29;
    border-radius: 25px;
    padding:15px;
    width:200px;
    text-align: center;
    font-weight: bold;
    background-color: #E3C584;
    
}
@media only screen and (max-width: 480px){
    /* mobile css */
    .links {
        display: flex;
        flex-direction: column;
    }
    .search {
        order: -1;
        margin-bottom: 10px;
        margin-left:auto;
        margin-right: auto;
        width: 250px;
    }
    nav,.iten_nav{
        flex-direction: column;
      
    }
    .iten_nav{
        margin-bottom: 0;
        padding-bottom: 0; 
    }
    nav a{
        border: 1px solid #7C8463;
        text-align: center;
        border-radius: 5px; 
        
    }
    .content {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    main {
       
        align-items: flex-start;
        
    }
    .stuff{
        display: block;
    }
    .card-link {
        display: flex;
        justify-content: center;
    }

    .sidebar {
        order: 2;
        width: 100%;
    }

    .row {
       
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    /* imgs on pages */
    .map{
        float:none;
        margin: auto;
    }
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        margin: 20px 0;
    }
    
    .video-wrapper iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    article {
       
        width: 300px;  /* avoid going too large */
        margin: 10px 0;
        height: auto;      /* prevent overflow stretching */
    }

    article img {
        width: 100%;
        height: 300px;
        
    }
    .Itenerary {
        margin:auto;
        width:90%;
    }
    
    .iten_main,
    .form_main {
        background-image: none;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px;

    }
    /* .iten_main{
        display: block;
    } */
    .iten-text{
        width:100%;
        margin:20px;
    }
   
    /* form stuff */
    #sub_image {
        display: none !important;
    }
    #content_wrapper{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .form-row, .check-row{
        flex-direction: column;
    }
    
    .form-row label{
        text-align: left;
    }
    form,fieldset {
        width: 90%;      /* or 100% */
        max-width: 500px;
    }
    
    #button {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .submit {
        width: 100%;
        max-width: 250px;
    }
    .spacer{
        flex: 1;
    }
     
}