@media print {
    header{
        display:none;
    }
    nav{
        display:none;
    }
    footer{
        display:none;
    }
    body {
        font-family: sans-serif;
        background: white;
        color: black;
    }
    main{
        display:flex;
        flex-direction: column;
      
    }
    .row {
        display: flex;
        flex-wrap: wrap; /* allows wrapping into multiple rows */
        justify-content: space-between;
    }
    .sidebar{
       order:2;
        
    }
    .sidebar img{
        width: 100%;
        height:auto;
        display:block;
    }
    .sidebar figure{
        margin:0;
    
    }
    article{
        width:300px;
        /* border: solid 1px black;
        background-color: white; */
        margin:10px;
       
        
    }
    article img{
        width:100%
    }
    article h2{
        /* font-family: "Irish Grover", system-ui; */
        text-align: center;
    }
    article p{
        margin-left: 5px;
        margin-right: 5px;
    }

}
